DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=
BLIZZARD_REGION=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=postgresql+pg8000://usuario:contraseña@localhost:5433/nombre_db