DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=your_discord_guild_id
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_TOKEN=your_discord_bot_token
BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=
BLIZZARD_REGION=eu
BLIZZARD_REDIRECT_URI=http://localhost:3000/api/auth/blizzard/callback
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=postgresql+pg8000://usuario:contraseña@localhost:5433/nombre_db
JWT_SECRET=